{% extends '../../layouts/_basedashboard.html' %} {% block content %}



<div class="py-20 sm:ml-64">
  <div class="h-full overflow-y-auto">
    <section class="p-4">
      <div class="block justify-between items-center md:flex">
        <!--Header Breadcrumb-->

        <div class="block justify-between items-center md:flex">
          <div class="flex shrink-0 grow-0 items-center justify-center">
            <ul>
              <li
                class="inline-block pr-3 text-xl text-gray-600 last:pr-0 last:font-black last:text-gray-700 last: dark:text-gray-400 after:content-['/'] after:pl-3">
                Group</li>
              <li
                class="inline-block pr-3 text-xl text-gray-600  dark:text-gray-200 last:pr-0 last:font-black last:text-gray-700 after:content-['/'] last:after:content-['']">
                Index</li>
            </ul>
          </div>
        </div>
        <a type="button"
          class="inline-flex cursor-pointer justify-center items-center whitespace-nowrap focus:outline-none transition-colors focus:ring duration-150 border rounded ring-blue-700 p-2 bg-blue-600 text-white border-blue-700 hover:bg-blue-700"
          disabled="false" href="{% url 'manage_groups' %}">
          <span class="inline-flex justify-center items-center w-5 h-5">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
              stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z"></path>
            </svg>
          </span>
          <span class="px-2 text-sm">Add Group</span>
        </a>
      </div>
      <div
        class="w-full  overflow-hidden rounded-lg shadow-sm border-gray-100 dark:border-gray-700 bg-white dark:bg-gray-800 mt-6">
        <div>
          <!--Section Title-->
          <div class="flex items-stretch border-b border-gray-100 dark:border-gray-700">
            <p class="flex items-center py-3 px-2 grow font-bold text-gray-600 dark:text-gray-300">
              <span class="inline-flex justify-center items-center w-6 h-6 mr-3">
                <svg viewBox="0 0 24 24" width="16" height="16" class="inline-block">
                  <path fill="currentColor"
                    d="M13,9.5H18V7.5H13V9.5M13,16.5H18V14.5H13V16.5M19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21M6,11H11V6H6V11M7,7H10V10H7V7M6,18H11V13H6V18M7,14H10V17H7V14Z">
                  </path>
                </svg>
              </span>
              Filter
            </p>
          </div>
          <div id="divFilter" class="px-6 pt-2 pb-6 grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
            <div class="">
              <label class="block font-bold mb-2 text-gray-700 dark:text-gray-400">Search</label>
              <div class="relative text-gray-600">
                <input type="text" id="txtSearchkeywords"
                  class="px-3 py-2 max-w-full rounded w-full h-12 border pl-10 bg-white  focus:border-primary dark:focus:border-gray-200 focus:outline-none border-gray-700 dark:border-gray-500 dark:text-gray-300  dark:bg-gray-700">
                <span
                  class="inline-flex justify-center items-center w-10 h-12 absolute top-0 left-0 z-10 pointer-events-none text-slate-500">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z">
                    </path>
                  </svg>
                </span>
              </div>
            </div>

            <div class="">
              <div class="mb-8"></div>
              <button id="btnCommonSearch" type="button"
                class="px-8 py-3 font-medium leading-5 h-12 text-white transition-colors duration-150 bg-blue-600 border-blue-700 hover:bg-blue-700 border border-transparent rounded-lg active:bg-blue-600  focus:outline-none focus:shadow-outline-purple">Filter</button>
              <button id="btnResetFilter" type="button"
                class="px-8 py-3 font-medium leading-5 h-12 text-white transition-colors duration-150 bg-green-600 border-green-700 hover:bg-green-700 border border-transparent rounded-lg active:bg-green-600  focus:outline-none focus:shadow-outline-purple">Reset</button>
            </div>
          </div>
        </div>
      </div>
      <div
        class="w-full  overflow-hidden rounded-lg shadow-sm border-gray-100 dark:border-gray-700 bg-white dark:bg-gray-800 mt-6">
        <div>
          <!--Section Title-->
          <div class="flex items-stretch border-b border-gray-100 dark:border-gray-700">
            <p class="flex items-center py-3 px-2 grow font-bold text-gray-600 dark:text-gray-300">
              <span class="inline-flex justify-center items-center w-6 h-6 mr-3">
                <svg viewBox="0 0 24 24" width="16" height="16" class="inline-block">
                  <path fill="currentColor"
                    d="M13,9.5H18V7.5H13V9.5M13,16.5H18V14.5H13V16.5M19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21M6,11H11V6H6V11M7,7H10V10H7V7M6,18H11V13H6V18M7,14H10V17H7V14Z">
                  </path>
                </svg>
              </span>
              Groups
            </p>
          </div>
          <div class="px-6 pt-2 pb-6">
            <div class="w-full mb-6 last:mb-0 rounded shadow-sm">
              <div class="w-full overflow-x-auto">
                <table class="w-full whitespace-no-wrap">
                  <thead>
                    <tr
                      class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                      <th class="px-2 py-3">S.N.</th>
                      <th class="px-2 py-3">Name</th>
                      <th class="px-2 py-3">Action</th>
                    </tr>
                  </thead>
                  <tbody id="groupGridBody" class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">

                    {% for group in groups %}
                    <tr class="text-gray-700 dark:text-gray-400 odd:bg-gray-50 dark:odd:bg-gray-700/25">
                      <td class="px-2 py-3">
                        <div class="">
                          <span class="text-gray-600 dark:text-gray-400">{{ group.id }}</span>
                        </div>
                      </td>
                      <td class="px-2 py-3">
                        <div class="flex items-center text-sm">

                          <div class="max-w-xs">
                            <!-- User Full Name -->
                            <p class="text-gray-700 dark:text-gray-300 font-semibold">{{ group.name }}</p>
                            <!-- Muted -->
                            <!-- <p x-show="true" class="text-sm">
                                  {{ group.name }}
                                  </p> -->
                          </div>
                        </div>
                      </td>

                      <td class="px-2 py-3" x-data="{ open: false }">
                        <button x-on:click="open = !open" id="dropdownDefault0" data-dropdown-toggle="dropdown0"
                          class="text-sm bg-transparent rounded-lg py-2.5 text-center inline-flex items-center"
                          type="button">Choose Action
                          <svg class="w-4 h-4 ml-2 rotate-0" :class="{'rotate-180': open, 'rotate-0': !open}"
                            fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7">
                            </path>
                          </svg>
                        </button>
                        <div id="dropdown0"
                          class="z-10 hidden bg-gray-100 divide-y divide-gray-100 rounded-md shadow w-44 dark:bg-gray-700"
                          data-popper-placement="bottom"
                          style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(1505px, 491px);">
                          <ul class="dropdown-menu py-1 text-sm text-gray-700 dark:text-gray-200"
                            aria-labelledby="dropdownDefault0" data-item="63623d15-82db-47c4-bf8b-251c59d3cd60"
                            data-medialink="">

                            <li><a
                                class="menu-item-dropdown block p-2 mt-2 text-sm text-gray-700 dark:text-gray-300  md:mt-0 hover:text-teal-400 dark:hover:text-teal-300 focus:outline-none focus:shadow-outline hover:bg-gray-100 dark:hover:bg-gray-600"
                                href="{% url 'manage_groups' group.id %}"><i class="fa fa-pen"></i>
                                <span> &nbsp;
                                  Edit</span></a>
                            </li>
                            <li><a
                                class="delete-item menu-item-dropdown block p-2 mt-2 text-sm text-gray-700 dark:text-gray-300  md:mt-0 hover:text-teal-400 dark:hover:text-teal-300 focus:outline-none focus:shadow-outline hover:bg-gray-100 dark:hover:bg-gray-600"
                                data-action="delete" 
                                data-modal-target="popup-modal"                                 
                                data-modal-toggle="popup-modal" href="javascript:void(0)"><i
                                class="fa fa-trash"></i> <span> &nbsp;
                                Delete</span></a>
                            </li>

                          </ul>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div
                class="flex justify-between px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800">
                <span class="flex items-center col-span-3">
                  Showing 11-20 of 100
                </span>
                <div class=" transform -translate-x-1/2 -translate-y-full hidden"></div>
                <div id="groupListPage" style="display: none;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Popup Modal-->
    {% include '../../components/deleteModal.html' %}

  </div>
</div>
{% endblock content %}