{% extends '../../layouts/_basedashboard.html' %} {% block content %}

<div class="p-20 sm:ml-64">
  <div class="h-full overflow-y-auto">
    <section class="">
      <div class="block justify-between items-center md:flex">
        <div class="flex shrink-0 grow-0 items-center justify-center">
          <ul>
            <li
              class="inline-block pr-3 text-xl text-gray-600 last:pr-0 last:font-black last:text-gray-700 last: dark:text-gray-400 after:content-['/'] after:pl-3">
              Group
            </li>
            <li
              class="inline-block pr-3 text-xl text-gray-600 last:pr-0 last:font-black last:text-gray-700 last: dark:text-gray-400 after:content-['/'] last:after:content-['']">
              Create
            </li>
          </ul>
        </div>
      </div>
      <form method="POST"
        class="rounded-lg shadow-md border-gray-100 dark:border-gray-700 bg-white dark:bg-gray-800 border mt-6"
        action="">
        {% csrf_token %}
        <div class="">
          <div class="flex items-stretch border-b border-gray-100 dark:border-gray-700">
            <p class="flex items-center py-3 grow font-bold px-2 text-gray-600 dark:text-gray-300">
              <span class="inline-flex justify-center items-center w-6 h-6 mr-3">
                <svg viewBox="0 0 24 24" width="16" height="16" class="inline-block">
                  <path fill="currentColor"
                    d="M13,9.5H18V7.5H13V9.5M13,16.5H18V14.5H13V16.5M19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21M6,11H11V6H6V11M7,7H10V10H7V7M6,18H11V13H6V18M7,14H10V17H7V14Z">
                  </path>
                </svg>
              </span>
              General
            </p>
          </div>
          <div class="px-6 pt-2 pb-6">
            <div class="mb-6 last:mb-0">
              <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-2 mb-6 last:mb-0">
                <div class="">
                  <label class="block font-bold mb-2 text-gray-700 dark:text-gray-400" for="name">Group Name*</label>
                  <div class="relative text-gray-600">
                    <input type="text"
                      class="px-3 py-2 max-w-full rounded w-full h-12 border pl-10 bg-white focus:border-primary dark:focus:border-gray-200 focus:outline-none border-gray-700 dark:border-gray-500 dark:text-gray-300 dark:bg-gray-700"
                      data-val="true" data-val-required="The Group Name* field is required." id="name" name="name"
                      value="" />
                    <span
                      class="inline-flex justify-center items-center w-10 h-12 absolute top-0 left-0 z-10 pointer-events-none text-gray-500">
                      <svg viewBox="0 0 24 24" width="16" height="16" class="inline-block">
                        <path fill="currentColor"
                          d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z">
                        </path>
                      </svg>
                    </span>
                    <span
                      class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1 field-validation-valid"
                      data-valmsg-for="name" data-valmsg-replace="true"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr class="my-3 mx-6 border-t border-gray-100 dark:border-gray-700" />

        <div>
          <div class="flex items-stretch border-b border-gray-100 dark:border-gray-700">
            <p class="flex items-center py-3 grow font-bold px-2 text-gray-600 dark:text-gray-300">
              <span class="inline-flex justify-center items-center w-6 h-6 mr-3">
                <svg viewBox="0 0 24 24" width="16" height="16" class="inline-block">
                  <path fill="currentColor"
                    d="M13,9.5H18V7.5H13V9.5M13,16.5H18V14.5H13V16.5M19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21M6,11H11V6H6V11M7,7H10V10H7V7M6,18H11V13H6V18M7,14H10V17H7V14Z">
                  </path>
                </svg>
              </span>
              Group Permission Assignment
            </p>
          </div>
          <div class="px-6 pt-2 pb-6">
            <div class="mb-6 last:mb-0">
              <div class="grid grid-cols-1 gap-4 md:grid-cols-1 justify-center mb-12">
                <div>
                  <ul
                    class="overflow-auto h-auto w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                    {% for permission in permissions %}
                    <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
                      <div class="flex items-center pl-3">
                        <input id="{{ permission.id }}" name="chk_permission" type="checkbox"
                          value="{{ permission.id }}"
                          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" />
                        <label for="{{ permission.id }}"
                          class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                          {{ permission.content_type }} | {{ permission.name }}<label>
                      </div>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-3 mx-6 border-t border-gray-100 dark:border-gray-700" />
        <div class="px-6 pt-2 pb-6">
          <button type="submit"
            class="px-8 py-3 font-medium leading-5 text-white transition-colors duration-150 bg-blue-600 border-blue-700 hover:bg-blue-700 border border-transparent rounded-lg active:bg-blue-600 focus:outline-none focus:shadow-outline-purple">
            Save
          </button>
          <a class="mx-2 px-8 py-3 font-medium leading-5 text-white transition-colors duration-150 bg-red-600 border-red-700 hover:bg-red-700 border border-transparent rounded-lg active:bg-blue-600 focus:outline-none focus:shadow-outline-purple"
            href="{% url 'groups' %}">
            Cancel
          </a>
        </div>
      </form>
    </section>
  </div>
</div>
{% endblock content %}